Repository johinsDev/t4: changes, and which lefthook commands are due for each by the changed paths.
All: biome, typecheck

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{js,ts,jsx,tsx,json,css}"
      run: bunx biome check --write --staged --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run typecheck

pre-push:
  parallel: true
  commands:
    biome:
      run: bun run check
    typecheck:
      run: bun run typecheck

fix: handle missing git remote in sync script
  scripts/git-sync.sh
Due: none

feat: add architect skill with feature-based architecture documentation
  .claude/skills/architect.md
  CLAUDE.md
Due: none

feat: add verify and ship skills for code quality workflow
  .claude/settings.local.json
  .claude/skills/ship.md
  .claude/skills/verify.md
  bun.lock
  package.json
Due: biome

feat: add trpc v11 with react query integration
  .claude/settings.local.json
  app/api/trpc/[trpc]/route.ts
  app/health/health-status.tsx
  app/health/page.tsx
  app/layout.tsx
  bun.lock
  features/health/index.ts
  features/health/schemas/health.schema.ts
  features/health/schemas/index.ts
  features/health/server/health.router.ts
  features/health/server/index.ts
  knip.json
  package.json
  trpc/client.tsx
  trpc/init.ts
  trpc/query-client.ts
  trpc/routers/_app.ts
  trpc/server.tsx
Due: biome, typecheck

feat: add turso with drizzle orm, migrations, and seeds
  .claude/settings.local.json
  .env.example
  .gitignore
  biome.json
  bun.lock
  db/index.ts
  db/schema/example.ts
  db/schema/index.ts
  db/seed.ts
  drizzle.config.ts
  drizzle/0000_motionless_roland_deschain.sql
  drizzle/meta/0000_snapshot.json
  drizzle/meta/_journal.json
  knip.json
  package.json
Due: biome, typecheck
